@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cntt" id="vapp">
    <div>
        <div v-if="selectedUser" class="topname">
            <span>{{selectedUser.name}}</span>
            <button v-if="callEnabled" @@click="onCallButton()"><i class="mi">call</i></button>
            <button v-if="callEnabled && callStarted" @@click="onEndCallButton()"><i class="mi">call_end</i></button>
        </div>
        <div v-if="callEnabled">
            <video id="received_video" autoplay height="100" width="300"></video>
            <video id="local_video" autoplay muted height="100" width="300"></video>
        </div>
        @*<div>
            <audio id="received_video" autoplay controls></audio>
            <audio id="local_video" autoplay muted controls></audio>
            </div>*@
    </div>
    <div>
        <div v-for="i in users" :class="{'item-selectes':i.selected}" @@click="userClick(i)">{{i.name}}</div>
    </div>
    <div id="scrollcont">
        <div class="msgcont" v-if="chats">
            <div v-for="i in chats" :class="{msgfrom:i.isFrom,msgme:!i.isFrom}">
                <div>{{i.time}}</div>
                <div v-if="i.message">{{i.message}}</div>
                <div v-if="i.fileName">
                    <div v-if="isImage(i.fileName)">
                        <img style="max-width:400px" :src="'/Chat/GetFile?fn='+i.id+'_'+i.fileName" />
                    </div>
                    <div v-if="!isImage(i.fileName)">
                        <a :href="'/Chat/GetFile?fn='+i.id+'_'+i.fileName">{{i.fileName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;padding:1em">
        <textarea type="text" style="flex:1;margin-right:1em" class="form-control" v-model="message" @@keypress="onKeyPress($event)"></textarea>
        <div class="upload-btn-wrapper" style="height:2.5em;align-self:center">
            <button class="btn btn-outline-info" style="border:none"><i class="mi">attachment</i></button>
            <input type="file" name="myfile" @@change="onFileChange($event)" />
        </div>
        <button class="btn btn-primary" style="flex:.1;height:2.5em;align-self:center" @@click="sendClick()"><i class="mi">send</i></button>
    </div>
</div>

@section Scripts{
<script src="~/lib/moment.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/vue/dist/vue.global.js"></script>
<script src="~/lib/alertify.min.js"></script>
<script src="~/lib/peerjs/dist/peerjs.min.js"></script>
<script src="~/lib/adapter/adapter.js"></script>
@*<script src="~/js/utilsRTC.js"></script>
    <script src="~/js/constWebRTC.js"></script>*@
<script src="~/js/chatx.js" type="module"></script>
}