html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.cntt {
    display: grid;
    grid-template-areas:
        'b a a a'
        'b a a a'
        'b a a a'
        'b a a a'
        'b a a a'
        'b c c c';
    height: 77vh;
}

    .cntt > div:first-child {
        grid-area: b;
        box-shadow: 1px 1px 5px;
        padding: 0.5em;
    }

        .cntt > div:first-child > div:hover {
            background-color: lightgray;
        }

        .cntt > div:first-child > div {
            border-bottom: solid thin lightgray;
        }

.item-selectes {
    background-color: azure;
}

.cntt > div:nth-child(2) {
    grid-area: a;
    display: flex;
    flex-flow: column;
    justify-content: end;
    overflow-y: auto;
}

.cntt > div:last-child {
    grid-area: c;
}

.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.msgfrom {
    max-width: 80%;
}

    .msgfrom > div:first-child {
    }

    .msgfrom > div:last-child {
        background-color: darkblue;
        color: white;
        padding: 0.3em;
        border-radius: 1em;
    }

.msgme {
    max-width: 80%;
    align-self: end;
}

    .msgme > div:first-child {
        align-self: end;
    }

    .msgme > div:last-child {
        background-color: lightblue;
        color: black;
        padding: 0.3em;
        border-radius: 1em;
        align-self: flex-end;
    }

.msgcont {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 0 1em;
}

    .msgcont > div {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

        .msgcont > div > div:first-child {
            margin-top: 0.4em;
            color: gray;
            font-size: 0.7em;
            font-style: italic;
        }

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btnfu {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}